<a href="https://colab.research.google.com/github/Gaks978/Data-Science-Projects/blob/main/Python_data_structures_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What You're Aiming For


Develop and refine your Python programming skills through practical exercises focused on manipulating data structures and implementing fundamental algorithms.


Instructions

You will develop your understanding and application of Python programming through this series of exercises. Each question is designed to challenge and enhance your skills in working with Pythonâ€™s built-in data structures and functions.



Question 1  :

Write a Python program that multiplies all the items in a list.

Sample list= [2, 3, 6]

Result = 36

Question 2

Write a Python program to get a list, sorted in increasing order by the last element in each tuple, from a given list of non-empty tuples.

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

Expected result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Hint: You can use the sort function.

Question 3

Write a Python program that combines two dictionaries by adding values for common keys.

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

Expected result: {'a': 400, 'b': 400, 'd': 400, 'c': 300}

Question 4

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) so that is an integral number between 1 and n (both included). Then the program should print the dictionary. Suppose the following input is supplied to the program: 8. Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Question 5

Write a program to sort a tuple by its float element.

For example: list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

Expected result: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

Question 6

Write a Python program to create a set.

Examples : {0, 1, 2, 3, 4}

Write a Python program to iteration over sets.

Write a Python program to add members in a set and to remove items from a given set.

In [ ]:
sample_list = [2, 3, 6]
result = sample_list[0] * sample_list[1] * sample_list[2]
print("Result:", result)

Result: 36

In [ ]:
sample_list = [(2,5), (1,2), (4,4), (2,3), (2,1)]
sample_list.sort(key=lambda x: x[1])
print(sample_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 300}
added_values_for_common_keys = {key: d1.get(key, 0) + d2.get(key, 0) for key in set(d1) | set(d2)}
print("Added_values_for_common_keys:", added_values_for_common_keys)

Added_values_for_common_keys: {'c': 300, 'b': 400, 'd': 300, 'a': 400}

In [ ]:
n = 8
dictionary_of_squares_of_i = {i: i * i for i in range(1, n+1)}
print(dictionary_of_squares_of_i)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
list = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
list.sort(key=lambda x: float(x[1]), reverse=True)
print(list)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [ ]:
# Creating a set
set = {0, 1, 2, 3, 4}
# Iteration over set
for element in set:
  print(element)
# Adding an element to a set
set.add(9)
print("Set after adding elements:", set)
# Removing an element from a set
set.remove(2)
print("Set after removing an element:", set)

0
1
2
3
4
Set after adding elements: {0, 1, 2, 3, 4, 9}
Set after removing an element: {0, 1, 3, 4, 9}